{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #d20a10;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'img/logo.png' %}" height="75px" width="80px" alt="Lilis Logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Catálogo
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'products_list' %}">Productos</a></li>
                        <li><a class="dropdown-item" href="{% url 'category_list' %}">Categorías</a></li>
                        <li><a class="dropdown-item" href="{% url 'raw_material_list' %}">Materia Prima</a></li>
                        <li><a class="dropdown-item" href="{% url 'supplier_list' %}">Proveedores</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'inventory_list' %}">Inventario</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lotes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'product_batch_list' %}">Lotes de Productos</a></li>
                        <li><a class="dropdown-item" href="#">Lotes de Materia Prima</a></li>
                        <li><a class="dropdown-item" href="{% url 'transaction_list' %}">Transacciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ventas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'client_list_all' %}">Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'warehouse_list' %}">Bodegas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'user_list' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'lilis_detail' %}">Lilis</a>
                </li>

            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    {% if request.user.profile.profile_picture %}
                    <img src="{{ request.user.profile.profile_picture.url }}" class="rounded-circle" width="50px"
                        height="50px">
                    {% else %}
                    <img src="{% static 'img/user.png' %}" class="rounded-circle" width="50px" height="50px">
                    {% endif %}
                </li>
                <li class="nav-item me-2">
                    {% if request.user %}
                    <a class="nav-link text-warning text-decoration-underline" href="{% url 'user_view' user.id %}">{{ request.user.username }}</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.user %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link text-warning">Cerrar sesión</button>
                    </form>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>