{% extends 'main/base.html' %}

{% block title %} Lotes de Materia Prima {% endblock title %}
{% block content %}
        <div class="row">
            <div class="col-12 text-center ">
                <h1 class="page-title">Lista de Lotes de Materia Prima</h1>
            </div>
            <div class="col text-end mb-2 ">
                <a href="{% url 'raw_batch_create' %}" class="mt-2 text-end btn btn-success">
                    Agregar Lote
                </a>
            </div>
        </div>
        <div class="row">
            {% for p in batches %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Lote de: {{ p.raw_material.name }}</h5>
                        <h5 class="card-text">Código: {{ p.batch_code }}</h5>
                        <p class="card-text">Cantidad Minima: {{ p.min_quantity }} {{ p.raw_material.name }}/s</p>
                        <p class="card-text">Cantidad Actual: {{ p.current_quantity }} de {{ p.max_quantity  }} {{ p.raw_material.name }}/s</p>
                        <a href="{% url 'raw_batch_update' p.id %}" class="mt-2 text-end btn btn-primary">
                            Editar
                        </a>
                        <a href="{% url 'raw_batch_view' p.id %}" class="mt-2 text-end btn btn-success">
                            Ver
                        </a>
                        <button type="button" class="mt-2 text-end btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal{{ p.id }}">
                            Eliminar
                        </button>
                        <div class="modal fade" id="confirmDeleteModal{{ p.id }}" tabindex="-1"
                            aria-labelledby="modalLabel{{ p.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger text-white p-2">
                                        <h6 class="modal-title" id="modalLabel{{ p.id }}">Confirmar</h6>
                                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                                            aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body p-2 text-center">
                                        ¿Eliminar <strong>{{ p.name }}</strong>?
                                    </div>
                                    <div class="modal-footer p-2 justify-content-center">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <a href="{% url 'raw_batch_delete' p.id %}"
                                            class="btn btn-danger btn-sm">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% empty %}
            <p class="text-center">No hay Lotes registrados.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}