<div class="row mb-3">

    <div class="col-md-3">
        <label class="form-label">Manejo por lotes</label>
        <input type="checkbox" class="form-check-input ms-2">
    </div>

    <div class="col-md-3">
        <label class="form-label">Manejo por series</label>
        <input type="checkbox" class="form-check-input ms-2">
    </div>

    <div class="col-md-3">
        <label class="form-label">Perecible (vencimiento)</label>
        <input type="checkbox" class="form-check-input ms-2">
    </div>

</div>

<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label">Lote</label>
        <input type="text" class="form-control" value="L-2025-001">
    </div>

    <div class="col-md-4">
        <label class="form-label">Serie</label>
        <input type="text" class="form-control" value="SN123456789">
    </div>

    <div class="col-md-4">
        <label class="form-label">Fecha vencimiento</label>
        <input type="date" class="form-control">
    </div>
</div>

<div class="text-end mt-3">
    <button class="btn btn-primary">Guardar movimiento</button>
    <button class="btn btn-secondary">Limpiar</button>
</div>
