<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label">Fecha</label>
        <input type="datetime-local" class="form-control" name="fecha" id="fecha" disabled>
    </div>
    <div class="col-md-4">
        <label class="form-label">Tipo</label>
        <select class="form-select" name="tipo" id="tipo">
            <option>Seleccione...</option>
            <option value="ingreso">Ingreso</option>
            <option value="salida">Salida</option>
            <option value="devolucion">Devolucion</option>
            <option value="transferencia">Transferencia</option>
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">Cantidad</label>
        <input type="number" class="form-control" name="cantidad" id="cantidad" disabled placeholder="Seleccione un producto">
        <input type="number" class="d-none" name="stock" id="stock" readonly>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label">Producto</label>
        <select class="form-select" name="producto" id="product-select">
            <option value="">Seleccione un tipo de movimiento</option>
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">Cliente/Proveedor</label>
        <select class="form-select" name="client" id="client-select">
            <option value="">Seleccione...</option>
            {% for c in clients %}
                <option value="{{ c.id }}" >{{ c.bussiness_name }} / {{ c.fantasy_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">Bodega</label>
        <select class="form-select" name="warehouse" id="warehouse-select">
            <option value="">Seleccione un cliente primero</option>
        </select>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const clientSelect = document.getElementById('client-select');
        const warehouseSelect = document.getElementById('warehouse-select');
        const productSelect = document.getElementById('product-select');
        const cantidadInput = document.getElementById('cantidad');
        const stockInput = document.getElementById('stock');
        const typeSelect = document.getElementById('tipo');
        
        typeSelect.addEventListener('change', function () {
        const type = this.value;

        if (!type) {
            typeSelect.innerHTML = '<option value="">Seleccione un tipo de movimiento</option>';
        }

        fetch(`/sells/get_by_type/?type=${type}`)
            .then(r => r.json())
            .then(res => {
                const data = res.data || [];
                clientSelect.disabled = false;
                clientSelect.innerHTML = '';
                if (type === 'ingreso') {
                    clientSelect.innerHTML = '<option value="">Seleccione un proveedor</option>';
                    warehouseSelect.innerHTML = '<option value="">Seleccione una bodega</option>';
                    productSelect.innerHTML = '<option value="">Seleccione primero un proveedor</option>';

                    data.suppliers.forEach(s => {
                        const o = document.createElement('option');
                        o.value = s.id;
                        o.textContent = s.bussiness_name;
                        clientSelect.appendChild(o);
                    });
                    data.warehouses.forEach(w => {
                        const o = document.createElement('option');
                        o.value = w.id;
                        o.textContent = `${w.name} - ${w.location}`;
                        warehouseSelect.appendChild(o);
                    });
                    return;
                }
                if (type === 'salida') {
                    clientSelect.innerHTML = '<option value="">Seleccione un cliente</option>';
                    warehouseSelect.innerHTML = '<option value="">Seleccione una bodega</option>';
                    data.forEach(c => {
                        const o = document.createElement('option');
                        o.value = c.id;
                        o.textContent = c.bussiness_name;
                        clientSelect.appendChild(o);
                    });
                    return;
                }
                if (type === 'devolucion') {
                    clientSelect.innerHTML = '<option value="">Seleccione un cliente</option>';
                    data.clients.forEach(e => {
                        const o = document.createElement('option');
                        o.value = e.id;
                        o.textContent = e.bussiness_name;
                        clientSelect.appendChild(o);
                    });
                    data.products.forEach(e => {
                        const o = document.createElement('option');
                        o.value = `product-${e.id}`;
                        o.textContent = `${e.sku ?? ''} ${e.name}`.trim();
                        productSelect.appendChild(o);
                    });
                    data.raw_materials.forEach(e => {
                        const o = document.createElement('option');
                        o.value = `raw_material -${e.id}`;
                        o.textContent = `${e.sku ?? ''} ${e.name}`.trim();
                        productSelect.appendChild(o);
                    });
                    data.warehouses.forEach(e => {
                        const o = document.createElement('option');
                        o.value = e.id;
                        o.textContent = `${e.name} - ${e.address} - ${e.location}`;
                        warehouseSelect.appendChild(o);
                    });
                    return;
                }
                if (type === 'transferencia') {
                    clientSelect.innerHTML = 'Lilis';
                    data.clients.forEach(e => {
                        const o = document.createElement('option');
                        o.value = e.id;
                        o.textContent = e.bussiness_name;
                        clientSelect.appendChild(o);
                    });
                    data.products.forEach(e => {
                        const o = document.createElement('option');
                        o.value = `product-${e.id}`;
                        o.textContent = `${e.sku ?? ''} ${e.name}`.trim();
                        productSelect.appendChild(o);
                    });
                    data.raw_materials.forEach(e => {
                        const o = document.createElement('option');
                        o.value = `raw_material -${e.id}`;
                        o.textContent = `${e.sku ?? ''} ${e.name}`.trim();
                        productSelect.appendChild(o);
                    });
                    data.warehouses.forEach(e => {
                        const o = document.createElement('option');
                        o.value = e.id;
                        o.textContent = `${e.name} - ${e.address} - ${e.location}`;
                        warehouseSelect.appendChild(o);
                    });
                    return;
                }
            })
            .catch(e => console.error("Error al cargar datos:", e));
    });
    clientSelect.addEventListener('change', function () {
        const client = this.value;
        const type = typeSelect.value;
        if (!client) {
            productSelect.innerHTML = '<option value="">Seleccione un cliente/proveedor</option>';
            return;
        }
        fetch(`/sells/get_raw_materials_by_supplier/?id=${client}&type=${type}`)
            .then(r => r.json())
            .then(res => {
                console.log(res);
                const data = res.p || [];
                productSelect.innerHTML = '<option value="">Seleccione una materia prima</option>';

                if (data.length === 0) {
                    productSelect.innerHTML = '<option value="">No hay productos para este proveedor</option>';
                    return;
                }

                data.forEach(s => {
                    const o = document.createElement('option');
                    o.value = s.id;
                    o.textContent = `${s.sku ?? ''} ${s.name}`.trim();
                    productSelect.appendChild(o);
                });
                if (type === 'salida') {
                    productSelect.innerHTML = '<option value="">Seleccione un producto</option>';
                    data.forEach(c => {
                        const o = document.createElement('option');
                        o.value = c.id;
                        o.textContent = `${c.sku ?? ''} ${c.name}`.trim();
                        productSelect.appendChild(o);
                    });
                    return;
                }
            })
            .catch(e => console.error("Error al cargar datos:", e));
        if (typeSelect.value === 'salida') {
        fetch(`/sells/warehouses_by_client/?id=${client}&type=${typeSelect.value}`)
            .then(r => r.json())
            .then(res => {
                const data = res.warehouses || [];
                warehouseSelect.innerHTML = '<option value="">Seleccione una bodega</option>';
                data.forEach(w => {
                    const o = document.createElement('option');
                    o.value = w.id;
                    o.textContent = `${w.name} - ${w.location}`;
                    warehouseSelect.appendChild(o);
                });
            })
            .catch(e => console.error("Error al cargar datos:", e));
        }
    });
    productSelect.addEventListener('change', function () {
        const product = this.value;
        if (!product) {
            cantidadInput.value = '';
            stockInput.value = '';
            return;
        }
        if (typeSelect.value === 'ingreso') {
        cantidadInput.disabled = false;
        cantidadInput.value = '';
        cantidadInput.placeholder = '';
        }
        if (typeSelect.value === 'salida') {
            fetch(`/sells/get_stock_by_product/?product_id=${product}`)
                .then(r => r.json())
                .then(res => {
                    cantidadInput.disabled = false;
                    stockInput.value = res.stock;
                    cantidadInput.value = res.stock;
                })
                .catch(e => console.error("Error al cargar datos:", e));
        }
        if (typeSelect.value === 'devolucion' || typeSelect.value === 'transferencia') {
            cantidadInput.disabled = false;
            stockInput.value = '';
            cantidadInput.value = '';
            fetch('/sells/get_')
        }
    });
});
</script>
<script>
            window.addEventListener('DOMContentLoaded', function () {
                const input = document.getElementById('fecha');
                if (!input) return;
                const now = new Date();
                const tzOffset = now.getTimezoneOffset() * 60000;
                const localISO = new Date(now - tzOffset).toISOString().slice(0,16);
                input.value = localISO;
            });
</script>