{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Detalle del Cliente {% endblock title %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow-sm border-0">

            <div class="card-header bg-primary text-white text-center">
                <h4 class="mb-0">Detalle del Proveedor</h4>
            </div>

            <div class="card-body">

                <h4 class="text-center mb-4">{{ b.fantasy_name }}</h4>

                <div class="row">
                    <div class="col-md-6">
                        <h5 class="mb-4">Información General</h5>
                        <ul class="list-group mb-4">
                            <li class="list-group-item"><strong>Razón social:</strong> {{ p.bussiness_name }}</li>
                            <li class="list-group-item"><strong>RUT:</strong> {{ p.rut }}</li>
                            <li class="list-group-item"><strong>Email de contacto:</strong> {{ p.email|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Teléfono de contacto:</strong> {{ p.phone|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Terminos de comercio:</strong>{{ p.trade_terms|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Dirección:</strong> {{ p.address|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Ciudad:</strong> {{ p.city|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>País:</strong> {{ p.country|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Sitio web:</strong> {{ p.web_site|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Plazo de pago:</strong> 
                                {% if p.payments_terms_days %}
                                    {% if p.payments_terms_days == 30 %}
                                        <span >30 días</span>
                                    {% elif p.payments_terms_days == 60 %}
                                        <span>60 días</span>
                                    {% elif p.payments_terms_days == 90 %}
                                        <span >90 días</span>
                                    {% else %}
                                        <span >{{ p.payments_terms_days }} días</span>
                                    {% endif %}
                                {% else %}
                                    <span>No registrado</span>
                                {% endif %}
                            <li class="list-group-item"><strong>Plazo de entrega:</strong> 
                            {% if p.lead_time_days %}
                                    {% if p.lead_time_days == 30 %}
                                        <span >30 días</span>
                                    {% elif p.lead_time_days == 60 %}
                                        <span>60 días</span>
                                    {% elif p.lead_time_days == 90 %}
                                        <span >90 días</span>
                                    {% else %}
                                        <span >{{ p.lead_time_days }} días</span>
                                    {% endif %}
                                {% else %}
                                    <span>No registrado</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item"><strong>Moneda:</strong> {{ p.currency|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Descuento:</strong> {{ p.discount_percentage|default:"No registrado" }}</li>
                            <li class="list-group-item"><strong>Preferido:</strong> 
                                {% if p.is_preferred %}
                                    <span class="badge bg-success">Sí</span>
                                {% else %}
                                    <span class="badge bg-danger">No</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item"><strong>Estado:</strong> 
                                {% if p.is_active %}
                                    <span class="badge bg-success">Activo</span>
                                {% else %}
                                    <span class="badge bg-danger">Inactivo</span>
                                {% endif %} 
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-6">

                                <h5 class="">Materias Primas Asociadas</h5>
                            </div>
                            <div class="col-6 text-end align-text-bottom align-top">
                                <a class="btn btn-danger align-text-bottom align-top" href="{% url 'raw_material_create' %}?next={{ request.path }}&supplier={{ p.id }}">
                                    <i class="bi bi-plus"></i>
                                </a>
                            </div>
                        </div>
                        {% if raw_materials %}
                        <div class="list-group">
                            {% for w in raw_materials %}
                            <div class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>{{ w.name }}</strong><br>
                                    <small class="text-muted">{{ w.sku }}</small><br>
                                    <span>Unidad de medida: {{ w.measurement_unit }}</span><br>
                                    {% if w.is_perishable %}
                                    <span class="badge bg-warning">Perecible</span>
                                    {% else %}
                                    <span class="badge bg-success text-white">No Perecible</span>
                                    {% endif %}
                                    {% if w.is_active %}
                                    <span class="badge bg-success text-white">Activo</span>
                                    {% else %}
                                    <span class="badge bg-danger text-white">Inactivo</span>
                                    {% endif %}
                                </div>
                                <div> 
                                    <a href="{% url 'raw_material_update' w.id %}?next={{ request.path }}&supplier={{ p.id }}" class="btn btn-sm btn-primary">
                                    Ver / Editar
                                </a>
                                <a href="{% url 'raw_material_delete' w.id %}?next={{ request.path }}&supplier={{ p.id }}" class="btn btn-sm btn-danger">
                                    Eliminar
                                </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="alert alert-secondary text-center">
                            No hay materias primas asociadas.
                        </div>
                        {% endif %}
                    </div>

                </div>

                <div class="text-center mt-4">
                    <a href="{% url 'supplier_update' p.id %}" class="btn btn-primary me-2">Editar</a>
                    <a href="{% url 'supplier_list' %}" class="btn btn-secondary me-2">Volver</a>
                    <button type="button" class="btn btn-danger btn-delete" data-url="{% url 'supplier_delete' p.id %}"
                        data-item-name="{{ b.fantasy_name }}">
                        Eliminar
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}