{% extends 'main/base.html' %}

{% block title %} Materia prima{% endblock title %}
{% block content %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm border-0">
                    <div class="card-header bg-primary text-white text-center">
                        <h4 class="mb-0">Detalle de la materia prima</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center mb-3">
                            {{ p.name }}
                        </h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Descripción:</strong> {{ p.description|default:"Sin descripción" }}
                            </li>
                            <li class="list-group-item">
                                <strong>Categoría:</strong> {{ p.category.name }}
                            </li>
                            <li class="list-group-item">
                                <strong>Stock Actual:</strong> {{ p.quantity }}
                            </li>
                            <li class="list-group-item">
                                <strong>Es perecible:</strong> {{ p.is_perishable|yesno:"Sí,No" }}
                            </li>
                            <li class="list-group-item">
                                <strong>Fecha de creación:</strong> {{ p.created_at|date:"d/m/Y"|default:"No aplica" }}
                            </li>
                            <li class="list-group-item">
                                <strong>Fecha de vencimiento:</strong> {{ p.expiration_date|date:"d/m/Y"|default:"No aplica" }}
                            </li>
                        </ul>

                        <div class="mt-4 text-center">
                            <a href="{% url 'raw_material_update' p.id %}" class="btn btn-primary me-2">
                                Editar
                            </a>
                            <a href="{% url 'raw_material_list' %}" class="btn btn-secondary me-2">
                                Volver a la lista
                            </a>
                            <button type="button" class="btn btn-danger btn-delete" 
                                    data-url="{% url 'raw_material_delete' p.id %}"
                                    data-item-name="{{ p.name }}">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}