{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Modificar Campo {% endblock title %}
{% block content %}
    <div class="mt-3 container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card shadow-sm w-100" style="max-width: 500px;">
            <div class="card-header text-center text-warning" style="background-color: #d20a10;">
                <h4>Modificar Campo</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="fieldInput" class="form-label"><strong>Valor anterior:</strong></label>
                            <input type="text" class="form-control" id="fieldInput" value="{{ previous_data }}" disabled>
                        </div>
                        <div class="col-6">
                            <label for="fieldInput" class="form-label"><strong>Valor nuevo:</strong></label>
                            {{ form|crispy }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger text-warning btn-lg">Guardar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}