{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Iniciar Sesion {% endblock title %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm w-100">
            <div class="card-header text-center bg-primary text-white">
                <h4>Iniciar Sesion</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger text-white btn-lg">Ingresar</button>
                    <a href="{% url 'password_reset' %}">Recuperar contraseña</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}